div.clear
{
   clear:both;
}

td.header
{
   font-weight: bold;
   width: 200px;
}

td.title
{
   padding-top: 10px;
   font-size: 24px;
   color: #AAAAAA;
}

TD.outer
{
   border-right: 1px #cccccc solid;
   padding-left: 15px;
   padding-right: 15px;
}

form
{
   padding: 0px;
   margin: 0px;
}
